
html {

    height: 100%;
    background-color: #ffffff;
}

* { 
    box-sizing: border-box; 
    font-family: "Yrsa", serif;
    color: #000000;
}

 
body {
    height: auto;
    width: 90%;
    margin: 0 auto; 
    background-color: #ffffff;
}

h1 {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    margin-top: 0px;
}

h2 {
    font-family: "Yrsa", serif;
    font-size: 35px;
    font-weight: 600px;
}

h3{
    font-family: "Yrsa", serif;
    font-size: 27px;
}

h4 {
    font-family: "Yrsa", serif;
    font-size: 24px;
}

.general-text{
    font-family: "Yrsa", serif;
    text-align: justify;
    line-height: 2.5;
    font-size: 21px;
    padding: 0px;
}

  
.nav-container {
    display: flex;
    justify-content: center; 
    padding: 0;
    margin-bottom: 35px;
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #ffffff;
}

.nav-container ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding */
    margin: 0; /* Elimina el margen */
    display: flex; /* Usa flexbox para la disposición */
    justify-content: space-around; /* Espacia los elementos de forma uniforme */
    width: 100%; /* Asegura que el ul ocupe todo el ancho */
}
  

.container> * + * {    margin-left: 0; }


ul li { width: 100%; }

ul li:last-child { margin-right: 0; }

ul li a {
    text-decoration: none; 
    display: block;
}



.menu{
    border-radius:5px ;
    border: 0px solid transparent;
    padding-bottom: 40px;
    width: 230px;
    height: 40px;
    padding-top: 10px;
    background: #edede1;
    text-align: center;
    text-transform: capitalize;
    transition: 0.3s background-color;
    display: block;
    position: relative;
    cursor: pointer;
}

.menu:before{
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #edede1;
    border-left: 115px solid transparent;
    border-right: 115px solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition:
      0.2s 0.2s border-top ease-out,
      0.3s border-top-color;
}

.menu:hover:before {
  border-top-width: 0;
  transition:
    0.2s border-top-width ease-in,
    0.3s border-top-color;
}

.menu:hover { background: #969280; }
.menu:hover:before { border-top-color: #969280; }


.menu:hover:after {
    border-bottom-width: 5px; 
    transition: 0.2s 0.2s border-bottom-width ease-out;
}


.menu:after {
  content: "";
  display: block;
  height: 0;
  border-left: 115px solid transparent;
  border-right: 115px solid transparent;
  border-bottom: 0 solid #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 101;
  transition: 0.2s border-bottom ease-in;
}

.menu:hover > .menu-enlace:after {
  border-bottom-width: 5px; 
  transition: 0.2s 0.2s border-bottom-width ease-out;
}


.menu-title{
    margin: 0px;
    color: black;
}


header{
    margin-left: 15px;
    margin-right: 15px;
}


main{
    margin-left: 15px;
    margin-right: 15px;
}


.header-container {
    display: grid;            /* Hacemos que el contenedor use flexbox */
    grid-template-columns: 1fr 0.5fr;
    align-items: center;      /* Centra el contenido verticalmente */
    padding: 0;            /* Espacio interno del contenedor */
    padding-bottom: 20px;
    column-gap: 30px;
}

.text-section {
               
    padding: 0px;
}

.image-section {             
    text-align: center;       
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

.first-text{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

#imagen-pricipal {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}


.image-section img {
    max-width: 100%;          
    height: auto;             
}

.education{ 
    padding: 0px;
    padding-top: 20px; 
    padding-bottom: 20px;
    gap: 30px;
}

.education-container{
    margin: 0px; 
    display: grid; 
    grid-template-columns: 1fr 1fr;   
    gap: 30px; 
}

.container-iframe{
    display: flex;
    flex-direction: column;
    
}




.ability{ 
    padding: 0px;
    margin: 0px;
    padding-top: 20px; 
    padding-bottom: 20px;    

}

.experience{
    padding: 0px;
    margin: 0px;
    padding-top: 20px; 
    padding-bottom: 20px;    
}

.project{
    padding: 0px;
    margin: 0px;
    padding-top: 20px; 
    padding-bottom: 20px;    
}

.responsive-figure-1{
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

.responsive-figure-2{
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
}


.responsive-figure  p {
    margin-bottom: 0px;
}

.contact{
    padding: 0px;
    margin: 0px;
    padding-top: 20px; 
    padding-bottom: 20px;    
}

.contact h2{
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 0px; /* Espacio entre los elementos */
    width: 100%; /* Ajusta el tamaño del contenedor */
    height: 600px; /* Ajusta la altura total del grid */
}
  
.grid-item {
    color: #000000;
    padding: 10px;
    text-align: center;
    border: 0px solid #333;
    transition: background-color 0.3s ease;
}


.grid-item:hover .progress-bar .progress {
    background-color: #000000; /* Cambia el color de la barra de progreso */
    color: rgb(255, 255, 255); /* Cambia el color del texto de porcentaje */
}


.grid-item:hover i {
    color: #9e9c91; /* Cambia el color del ícono al hacer hover */
}

#icon{
    flex: 1;
    font-size: 150px; /* Ajusta este valor según el tamaño que desees */
    width: 100%; /* Para que ocupe todo el ancho disponible */
    height: 100%; /* Para que ocupe toda la altura disponible */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.5s ease;
}
  
.divisor-grid{
    display: flex;            /* Hacemos que el contenedor use flexbox */
    justify-content: space-between;  /* Espacio entre el texto y la imagen */
    align-items: center;      /* Centra el contenido verticalmente */  
}
  
.progress-bar {
    flex: 1;
    width: 100%;
    background-color: #d6d6c7;
    border-radius: 25px;
    overflow: hidden;
  }
  
.progress {
    width: 0;
    height: 30px;
    background-color: #000000;
    text-align: center;
    line-height: 30px;  
    color: rgb(255, 255, 255);
    border-radius: 25px;
    transition: width 0.1s ease;
    transition: background-color 0.5s ease;
}
  



.container-exp{
    display: grid;            /* Hacemos que el contenedor use flexbox */
    grid-template-columns: 1fr 1fr;  /* Espacio entre el texto y la imagen */
    align-items: center;      /* Centra el contenido verticalmente */
    padding: 0;   
    gap: 50px;
    box-shadow: 5px 5px 5px rgba(40, 39, 49, 0.7), -5px -5px 5px rgba(255, 255, 255, 0.7);
}

.experience-text{
    padding: 0px; 
    margin: 0px;
    text-align: justify;
    line-height: 2.5;
    font-size: 18px;
}

.exp-image {
    flex: 1;                 
    text-align: center;       
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.imagen-experience{
    width: 100%;
    height: 495px;
}

.container-project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;

}

.container-contact{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 1fr;
    align-items: start;
    gap:30px;
}

.card-form{
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna */
    grid-template-rows: 0.6fr 0.6fr 0.6fr 1fr 0fr; /* Cuatro filas del mismo tamaño */
    gap: 15px; /* Espacio entre las filas */
    width: 100%; /* Ajusta el tamaño según sea necesario */
}
.card-contact{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    align-items: center;
    gap:10px;
    border: 0px;
    border-color: #000000;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(40, 39, 49, 0.7), -5px -5px 5px rgba(255, 255, 255, 0.7);
}

.icon-contact{
    text-align: center;
    align-items: center;
    justify-content: center;
}


#icon-contact{
    font-size: 35px;
}


#map {
    width: 100%;
    height: 100%;
    max-width: 100%; /* Ajusta este valor según lo necesites */
    max-height: 400px;
}
 

 
input {
    width: 90%; /* El input ocupará el 100% del contenedor padre */
    height: 30px;
  }


.text-label {
    font-family: "Yrsa", serif;
    font-size: 20px;
    font-weight: bold;
}
  
input.active + .floating-label,
input:not(:placeholder-shown) + .floating-label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #333;
}

textarea{
    width: 90%;
}

.content-button-form{
    display: flex;
    align-items: center;
    justify-content: center;
}


.button-form{
    font-size: 20px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;           /* Cambia el cursor al puntero */
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 0px solid;
    background-color: #edede1;
    box-shadow: 5px 5px 5px rgba(40, 39, 49, 0.7), -5px -5px 5px rgba(255, 255, 255, 0.7);

}

.button-form:hover{
    background-color: #969280; /* Color de fondo al hacer hover */
    transform: scale(1.05);    /* Pequeño aumento de tamaño */
    font-weight: bold;
}

.content-footer{
    padding: 0px;
    display: grid;
    grid-template-rows: 0.2fr 0.2fr;
    align-content: center;
    align-items: center;
    gap: 0px;
}



.menu-icon {
    display: none;
}

.responsive-img{
    width: 100%;
    height: 70vh;
}

/* Media query para móviles (pantallas de hasta 768px) */
@media (max-width: 768px) {

    /* Ajusta el body para ocupar el 100% del ancho */
    body {
        width: 100%; /* Asegura que el body ocupe todo el ancho en móviles */
        margin: 0;   /* Elimina márgenes para que el contenido ocupe toda la pantalla */
    }

    /* Haz que el contenedor del menú sea más pequeño y centrado */
    .menu {
        width: 100%;
        padding: 20px 0;
    }

    .header-container{
        display: grid;
        grid-template-columns: 1fr;

    }
    /* Ajusta los ítems del grid a una sola columna */
    .education{
        display: contents;
        padding: 0%;
        align-items: center;
    }

    .grid-container{
        display: contents;
    }

    .container-contact{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

    }

    .container-iframe {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; 
        height: 0;
        overflow: hidden;
    }   

    .container-iframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
    }

    
    
    
    .subtitle-education{
        margin-top: 0px;
    }

    .ability {
        padding: 0px;
        margin: 0px;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .container-exp {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding: 0;
        gap: 50px;
        box-shadow:none;
    }

    .container-project{
        display: contents;

    }


    .responsive-figure {
        width: 100%; /* Asegura que el figure ocupe todo el ancho */
        max-width: 400px; /* Establece un ancho máximo para mantener la proporción */
        margin: 0 auto; /* Centra el figure en su contenedor */
        text-align: center; /* Centra el texto dentro del figure */
    }
    
    .responsive-img {
        width: 100%; /* La imagen ocupa el 100% del ancho de su contenedor */
        height: auto; /* Mantiene la relación de aspecto */
    }
    
    /* Ajusta las imágenes para que ocupen el 100% del ancho en pantallas pequeñas */
  
    /* Centra los íconos y ajusta el tamaño en móviles */
    #icon {
        font-size: 100px; /* Reduce el tamaño del ícono en pantallas pequeñas */
    }

    /* Ajusta el formulario de contacto para que ocupe toda la pantalla */
    .card-form, .card-contact {
        width: 100%;
    }

    /* Asegura que el footer ocupe toda la pantalla */
    .content-footer {
        grid-template-rows: 1fr;
    }

    .menu-icon {
        display: block; /* Muestra el icono en móviles */
    }

    #nav-list {
        display: none; /* Oculta el menú por defecto en móviles */
        flex-direction: column; /* Coloca los elementos en columna */
        position: absolute; /* Posiciona el menú */
        top: 50px; /* Ajusta según sea necesario */
        left: 0;
        background-color: #F6F2F6; /* Fondo del menú */
        width: 100%; /* Ancho completo */
    }

    #nav-list.active {
        display: flex; /* Muestra el menú al activar */
    }

    .menu:before, .menu:after {
        display: none; /* Oculta los pseudo-elementos */
    }

    .menu {
        border-radius: 0; /* Quita el border-radius */
        border: 1px solid black; /* Quita el borde */
        height: auto; /* Permite que la altura se ajuste automáticamente */
        background: red; /* Quita el fondo */
        text-align: center; /* Ajusta la alineación del texto si es necesario */
        transition: none; /* Quita las transiciones */
        cursor: default; /* Cambia el cursor si lo deseas */
        padding: 7px;

    }

    .nav-container {
        display: flex;
        justify-content: left; 
        padding: 0;
        margin: 0px;
        padding-top: 20px;
        padding-left: 20px;
        position: sticky;
        top: 0;
        z-index: 9999;
        background-color: #F6F2F6;
    }

    .first-text {
        padding-top: 20px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .icon-menu{
        font-size: 30px ;
    }
}
